[GENERAL]
admin: True
liquid_instance: LIQUID
username: admin
password: password

[LIQUID]
host: 127.0.0.1
port: 7041
username: admin
password: password
wallet: wallet.dat
passphrase:
version: 0.17
chain: mainnet
policyasset: 6f0279e9ed041c3d710a9f57d0c02928416460c4b722ae3457a11eec381c526d
