https://github.com/ElementsProject/libwally-core/releases/download/release_0.6.9/wallycore-0.6.9-cp27-cp27mu-linux_x86_64.whl; 'linux' in sys_platform and python_version == '2.7'
https://github.com/ElementsProject/libwally-core/releases/download/release_0.6.9/wallycore-0.6.9-cp35-cp35m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.5'
https://github.com/ElementsProject/libwally-core/releases/download/release_0.6.9/wallycore-0.6.9-cp36-cp36m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.6'
https://github.com/ElementsProject/libwally-core/releases/download/release_0.6.9/wallycore-0.6.9-cp27-cp27m-macosx_10_14_intel.whl; sys_platform == 'darwin' and python_version == '2.7'
https://github.com/ElementsProject/libwally-core/releases/download/release_0.6.9/wallycore-0.6.9-cp37-cp37m-macosx_10_13_x86_64.whl; sys_platform == 'darwin' and python_version == '3.7'
https://github.com/ElementsProject/libwally-core/releases/download/release_0.6.9/wallycore-0.6.9-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6'
https://github.com/ElementsProject/libwally-core/archive/release_0.6.9.tar.gz; 

certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-QRcode==3.0.0
Flask-Stache==0.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==6.0.0
pystache==0.5.4
qrcode==6.1
requests==2.21.0
six==1.12.0
urllib3==1.24.3
Werkzeug==0.15.2
