<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Liquid.beer">
      <meta name="author" content="Drunkoshi Franziskanoto">
      <link rel="icon" href="">
      <title>Pub</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <style type="text/css" style="display: none !important;">
         div#sl{
         width: 80%;
         margin: 0 auto;
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
           <div class="navbar-header">
             <a class="navbar-brand" href="/">Home</a>
             <a class="navbar-brand" href="/lbtc">LBTC</a>
             <a class="navbar-brand" href="/asset">Asset</a>
             <a class="navbar-brand" href="/about">Credits</a>
           </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
               <center>
               <h1>ERROR!!!</h1>
               <p>Oh noooo waterrrr</p>
               <h3>{{result}}</h3>
               <p>{{description}}</p>
               </center>
            </div>
         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
