<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Liquid.beer">
      <meta name="author" content="Drunkoshi Franziskanoto">
      <link rel="icon" href="">
      <title>Pub</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <style type="text/css" style="display: none !important;">
         div#sl{
         width: 80%;
         margin: 0 auto;
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
           <div class="navbar-header">
             <a class="navbar-brand" href="/">Home</a>
             <a class="navbar-brand" href="/lbtc">LBTC</a>
             <a class="navbar-brand" href="/asset">Asset</a>
             <a class="navbar-brand" href="/about">Credits</a>
           </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
               <h3>Login</h3>
               <form action="/login" method="post">
                  <div class="form-group row">
                     <label for="address" class="col-sm-2 col-form-label">Address</label>
                     <div class="col-sm-10">
                        <input type="username" class="form-control" name="username" required="required" id="username" placeholder="username">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="address" class="col-sm-2 col-form-label">Address</label>
                     <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" required="required" id="password" placeholder="password">
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">LOG IN</button>
                     </div>
                  </div>
               </form>

            </div>
         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
